/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
API_DOCUMENTATION.md
API_DOCUMENTATION_V2.md
API_FIX_NOTES.md
API_FIX_PESERTA_TYPE.md
API_FIX_TARGET_FILTERING.md
API_FIX_TYPE_ERROR.md
API_PEMERIKSAAN_PESERTA_PARAMETER_MOBILE.md
API_TARGET_MAPPING_MOBILE.md
API_TURNAMEN_CRUD.md
API_TURNAMEN_PESERTA.md